<section class="row">
  <article class="column">
    <h2>Jared's Best Links</h2>
    <ul>
      <li>
        <topping-list href="https://localhost:4001/api/entrees"></topping-list>
      </li>
      <li>
        <topping-list href="https://localhost:4001/api/proteins"></topping-list>
      </li>
      <li>
        <topping-list href="https://localhost:4001/api/sauces"></topping-list>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Help</h2>
    <ul>
      <li>
        <topping-list href="https://localhost:4001/api/toppings"></topping-list>
      <li>
        <a href="https://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on Freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">Twitter @elixirphoenix</a>
      </li>
    </ul>
  </article>
</section>
